.main {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 10px;
  align-items: center;
}

@media screen and (min-width: 650px) {
  .main {
    justify-content: center;
  }
}

.main > img {
  width: 150px;
}
