.thumb {
  width: 100%;
  height: 200px;
}

.thumb > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 650px) {
  .thumb {
    height: 500px;
  }
}
